body {
  font-family: sans-serif;
  background: #ffffff;
}

h1 {
	font-size: 50px;
	font-family: monospace;
	color: violet;
}

p {
	font-size: 20px;
	font-family: century gothic;
	color: blue;
}

h2 {
	font-size: 7px;
	font-family: times;
	color: violet;
}

div {
	background: white;
	margin: 0 auto;
	width: 900px;
	padding: 15px;
}

h3 {
	font-size: 10px;
	font-family: monospace;
	color: violet;
}

h4 {
	font-size: 10px;
	font-family: monospace;
	color: yellow;
}